body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
@media print {
    .assign-one {
        font-size: 40px;
    }
}

.parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.parent div {
    background-color: #eee;
    width: 24%;
    text-align: center;
}
.parent div h3 {
    color: #2CA69B;
}

@media (max-width: 1000px) {
    .parent div {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    .parent div h3 {
        color: red;
    }
}

@media (max-width: 650px) {
    .parent div {
        width: calc(100% - 10px);
        margin-bottom: 10px;
    }
    .parent div h3 {
        color: black;
        font-weight: bold;
    }
}

/* ---------- */

.parent-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "one one one one one one one one one one one one"
                            "two two two two two two three three three three three three"
                            "four four four four four four four four four four four four";
}
.parent-2 .one {
    grid-area: one;
}
.parent-2 .two {
    grid-area: two;
}
.parent-2 .three {
    grid-area: three;
}
.parent-2 .four {
    grid-area: four;
}
.parent-2 div {
    background-color: #eee;
    text-align:center;
    margin: 10px;
}
.parent-2 div h3 {
    color: #2CA69B;
}
@media (max-width: 1000px) {
    .parent-2 {
        grid-template-areas: "one one one one one one one one one one one one"
                            "two two two two three three three three four four four four";
    }
    .parent-2 div h3 {
        color: red;
    }
}
@media (max-width: 650px) {
    .parent-2 {
        grid-template-areas: "one one one one one one one one one one one one"
                            "two two two two two two two two two two two two"
                            "three three three three three three three three three three three three"
                            "four four four four four four four four four four four four";
    }
    .parent-2 div h3 {
        color: black;
        font-weight: bold;
    }
}