body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.parent {
    width: 600px;
    background-color: #EEEEEE;
    text-align: center;
    margin: 30px auto;
    overflow: hidden;
}

.full, .third div, .half div, .quarter div {
    float: left;
    background-color: #DDDDDD;
    padding: 10px 0;
}

.full {
    width: calc(100% - 30px);
    margin: 15px;
}

.third div {
    width: calc((100% - 60px) / 3);
    margin-left: 15px;
}

.half div {
    width: calc((100% - 45px) / 2);
    margin-left: 15px;
    margin-top: 15px;
}

.quarter div {
    width: calc((100% - 75px) / 4);
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ------ */

div.challenge-two {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #B3B3B3; /* Get The Background From Image */
    color: black;
}

div.one {
    background-color: rgb(179, 179, 179 , 0.1);
}

div.two {
    opacity: 0.1;
}