body {
    font-family: Arial, Helvetica, sans-serif;
}

.assign-1 {
    width: 100px;
    height: 100px;
    margin: 30px auto;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 0 0 0 #FF5722, -8px 0 0 0 #03A9F4;
    border-radius: 50%;
    color: #FF5722;
    font-weight: bold;
}

/* ----- */

.parent-1 {
    width: 600px;
    height: 300px;
    margin: 40px auto;
    background-color: #eee;
    display: flex;
    justify-content:space-around;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.parent-1 div {
    background-color: #F44336;
    color: white;
    width: 30%;
    text-align: center;
    padding: 10px 0;
}

/* ----- */

.parent-2 {
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: 40px auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.parent-2 div {
    background-color: #607D8B;
    color: white;
    text-align: center;
    width: 30%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-2 .one {
    order: 6;
    align-self: flex-end;
}
.parent-2 .two {
    order: 5;
}
.parent-2 .three {
    order: 2;
    align-self: flex-start;
}
.parent-2 .four {
    order: 3;
}
.parent-2 .five {
    order: 4;
}
.parent-2 .six {
    order: 1;
}
/* ----- */
.parent-3 {
    width: 600px;
    height: 300px;
    margin: 40px auto;
    background-color: #eee;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.parent-3 div {
    color: white;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 0 10px;
}
.parent-3 .two {
    align-self: flex-start;
    width: 300px;
}
/* ----- */
.parent-4 {
    width: 600px;
    height: 300px;
    margin: 40px auto;
    background-color: #eee;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.parent-4 div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 10px;
    height: 130px;
}
.parent-4 .one {
    background-color: #FF9800;
    order: 2;
}
.parent-4 .two {
    background-color: #8BC34A;
    order: 3;
    align-self: flex-end;
}
.parent-4 .three {
    background-color: #795548;
    order: 4;
}
.parent-4 .four {
    background-color: #673AB7;
    order: 1;
    align-self: flex-end;
}
/* ----- */
:root {
    --main-color: #ddd;
    --spacing: 10px;
    --fontWeight: normal;
}
.page {
    width: 800px;
    height: 500px;
    background-color: #eee;
    margin: 40px auto;
    padding: 0 var(--spacing);
    font-weight: var(--fontWeight);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    background-color: var(--main-color);
    padding: var(--spacing);
    flex-basis: 11%;
    text-align: center;
}
.header .links {
    display: flex;
    list-style: none;
    background-color: var(--main-color);
    flex-basis: 85%;
    justify-content: flex-end;
    padding: var(--spacing) 0;
    margin: var(--spacing) 0;
}
.header .links li {
    margin-right: var(--spacing);
}

.main-area {
    display: flex;
    justify-content: space-between;
    height: 76.5%;
}
.main-area .content {
    flex-basis: 65%;
    background-color: var(--main-color);
    padding: var(--spacing);
}
.main-area .sidebar {
    flex-basis: 28%;
    background-color: var(--main-color);
    padding: var(--spacing);
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    margin-top: var(--spacing);
    padding: var(--spacing);
}